<div class="mat-elevation-z8 m-3">
  <table
    mat-table
    [dataSource]="dataSource"
    matSort
    (matSortChange)="announceSortChange($event)"
  >
    <!-- Position Column -->
    <ng-container matColumnDef="firstName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
      <td mat-cell *matCellDef="let user">{{ user.firstName }}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="lastName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>LastName</th>
      <td mat-cell *matCellDef="let user">{{ user.lastName }}</td>
    </ng-container>

    <!-- Email Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>Email</th>
      <td mat-cell *matCellDef="let user">{{ user.email }}</td>
    </ng-container>

    <!-- Role Column -->
    <ng-container matColumnDef="role">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Role</th>
      <td mat-cell *matCellDef="let user">
        <span *ngIf="user.role === 'EMPLOYEE'" class="badge text-bg-primary">
          <div class="p-2">
            {{ user.role }}
          </div>
        </span>
        <span *ngIf="user.role === 'MANAGER'" class="badge text-bg-success">
          <div class="p-2">
            {{ user.role }}
          </div>
        </span>
        <span *ngIf="user.role === 'ADMIN'" class="badge text-bg-danger">
          <div class="p-2">
            {{ user.role }}
          </div>
        </span>
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let user">
        <div>
          <button
            type="button"
            class="btn btn-primary"
            (click)="onView(user.id)"
            style="margin-right: 8px"
          >
            View
          </button>
          <button
            type="button"
            class="btn btn-warning"
            (click)="onEdit(user.id)"
            style="margin-right: 8px"
          >
            Edit
          </button>
          <button
            *ngIf="authUserRole === 'ADMIN'"
            type="button"
            class="btn btn-danger"
            (click)="openDialog(user)"
          >
            Delete
          </button>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator
    [pageSizeOptions]="[5, 20, 50]"
    showFirstLastButtons
    aria-label="Select page of periodic users"
  >
  </mat-paginator>
</div>
