<form
  class="holiday-request-form pt-5"
  #holidayForm="ngForm"
  (ngSubmit)="submitForm(holidayForm)"
>
  <div class="form-group">
    <label for="start-date">Start Date</label>
    <input
      type="date"
      id="start-date"
      name="startDate"
      class="form-control"
      required
      [(ngModel)]="startDate"
    />
  </div>
  <div class="form-group">
    <label for="end-date">End Date</label>
    <input
      type="date"
      id="end-date"
      name="endDate"
      class="form-control"
      required
      [(ngModel)]="endDate"
    />
  </div>

  <div class="form-group">
    <label for="vacation-workdays">Werkstage im Urlaub</label>
    <input
      type="number"
      id="vacation-workdays"
      name="vacationWorkdays"
      class="form-control"
      required
      [(ngModel)]="vacationWorkdays"
    />
  </div>
  <div class="form-group">
    <label for="reason">Notiz</label>
    <textarea
      id="notiz"
      name="reason"
      class="form-control"
      rows="4"
      required
      [(ngModel)]="reason"
    ></textarea>
  </div>
  <div class="form-group">
    <div class="flex-group">
      <div class="checkbox">
        <input
          type="checkbox"
          id="confirmation-1"
          name="confirmation1"
          required
          [(ngModel)]="confirmation1"
        />
      </div>
      <div class="label">
        <label for="confirmation-1"
          >Ich bestätige, dass ich mit meine Abwesenheit mit meinen
          Kunden/Projektleitern abgestimmt habe</label
        >
      </div>
    </div>
    <div class="flex-group">
      <div class="checkbox">
        <input
          type="checkbox"
          id="confirmation-2"
          name="confirmation2"
          required
          [(ngModel)]="confirmation2"
        />
      </div>
      <div class="label">
        <label for="confirmation-2"
          >Die Angabe der verbrauchten Werktage erfolgt in
          Eigenverantwortung</label
        >
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="replacement">Vertretung</label>
    <select
      id="replacement"
      name="replacement"
      class="form-control"
      required
      [(ngModel)]="replacement"
    >
      <option value="">Select a replacement</option>
      <option value="John">John</option>
      <option value="Sarah">Sarah</option>
      <option value="Michael">Michael</option>
      <option value="Emily">Emily</option>
    </select>
  </div>
  <div>
    <button
      *ngIf="!isEditMode"
      type="submit"
      class="btn btn-primary"
      style="float: right"
    >
      Submit
    </button>
    <button
      *ngIf="isEditMode"
      type="submit"
      class="btn btn-primary"
      style="float: right"
    >
      Update
    </button>
  </div>
</form>
