<div class="pt-5">
  <table class="table">
    <thead>
      <tr>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Werkstage im Urlaub</th>
        <th>Notiz</th>
        <th>Vertretung</th>
        <th>Status</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let holiday of holidays; index as i">
        <td>{{ holiday.startDate }}</td>
        <td>{{ holiday.endDate }}</td>
        <td>{{ holiday.vacationWorkdays }}</td>
        <td>{{ holiday.reason }}</td>
        <td>{{ holiday.replacement }}</td>
        <td>{{ holiday.status }}</td>
        <td>
          <div class="example-button-container">
            <button
              (click)="onEdit(i)"
              class="btn"
              mat-mini-fab
              color="primary"
              aria-label="Example icon button with a menu icon"
            >
              <mat-icon>edit</mat-icon>
            </button>
            <button
              (click)="onDelete(i)"
              mat-mini-fab
              color="warn"
              aria-label="Example icon button with a filter list icon"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
