<div class="container">
  <div class="main-body">
    <div class="row gutters-sm">
      <div class="col-md-4 mb-3">
        <app-profile-card [user]="user"></app-profile-card>
      </div>
      <div class="col-md-8">
        <app-profile-detail-card
          [user]="user"
          *ngIf="!isEdit"
          (Edit)="onEdit($event)"
        ></app-profile-detail-card>
        <app-profile-detail-update-card
          *ngIf="isEdit"
          [user]="user"
        ></app-profile-detail-update-card>
      </div>
    </div>
  </div>
</div>
